.aside-menu{
    position: absolute;
    width: 288px;
    height: 1090px;
    left: 499px;
    top: 232px;
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 4px;
}
.aside-menu-1 >li>span{
    position: relative;
    width: 248px;
    height: 27px;
    left: 20px;
    top: 18px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #202020;
}
.aside-menu-1 >li>a{
    position: absolute;
    width: 39px;
    height: 21px;
    left: 229px;
    top: 22px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #6D6D6D;
}

.aside-menu-2 >li>input{
    position: relative;
    width: 248px;
    height: 46px;
    left: 16px;
    top: 28px;
    background: #17CEB5;
    border-radius: 4px;
    border:0px;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

.aside-menu-3{
    position: relative;
    width: 236px;
    height: 92px;
    left: 16px;
    top: 45px;
    line-height: 1.8em;
}

input[type='radio'],
input[type='radio']:checked{
    appearance: none;
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 100%;
    margin-right: 0.1rem;
    background-color: #5BC7B3;
}
input[type='radio']{
    background-color: white;
    border: 1.5px solid #5BC7B3;
}




.aside-menu-4 li{
    position: absolute;
    width: 247px;
    height: 26px;
    left: 16px;
    top: 219px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    color: #202020;
}

input[type="checkbox"]+label{
    display: block;
    width: 16px;
    height: 16px;
    background: url('../image/login_image/Vector-off.png') no-repeat 0 0px / contain;
}
input[type='checkbox']:checked+label{
    background: url('../image/login_image/Vector.png') no-repeat 0 1px / contain;
}
input[type="checkbox"]{
    display: none;
}


.aside-menu-5{
    position: relative;
    width: 236px;
    height: 126px;
    left: 18px;
    top: 87px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #202020;
}
.aside-menu-5 span{
    position: relative;
    top: -15px;
    left: 21px;
}



.aside-menu-6 >li>input{
    position: relative;
    width: 247px;
    height: 46px;
    left: 16px;
    top: 83px;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 4px;
    color: #202020;
    background-color: white;
}

.aside-menu-7 li{
    position: absolute;
    width: 247px;
    height: 26px;
    left: 16px;
    top: 440px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    color: #202020;
}

.aside-menu-8{
    position: relative;
    width: 236px;
    height: 126px;
    left: 18px;
    top: 136px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #202020;
}
.aside-menu-8 li span{
    position: relative;
    top: -15px;
    left: 21px;
}



.aside-menu-9 >li>input{
    position: relative;
    width: 247px;
    height: 46px;
    left: 16px;
    top: 132px;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 4px;
    color: #202020;
    background-color: white;
}
.aside-menu-10 li{
    position: absolute;
    width: 247px;
    height: 26px;
    left: 16px;
    top: 660px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    color: #202020;
}

.aside-menu-11{
    position: relative;
    width: 236px;
    height: 126px;
    left: 18px;
    top: 186px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #202020;
}
.aside-menu-11 span{
    position: relative;
    top: -15px;
    left: 21px;
}


.aside-menu-12 li{
    position: absolute;
    width: 247px;
    height: 26px;
    left: 16px;
    top: 850px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    color: #202020;
}
.aside-menu-13{
    position: relative;
    width: 236px;
    height: 126px;
    left: 18px;
    top: 250px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #202020;
}

.aside-menu-13 span{
    position: relative;
    top: -15px;
    left: 21px;
}

.aside-menu-14 >li>input{
    position: relative;
    width: 247px;
    height: 46px;
    left: 16px;
    top: 254px;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 4px;
    color: #202020;
    background-color: white;
}