.div-1{
    position: absolute;
    width: 603px;
    height: 640px;
    left: 817px;
    top: 283px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px 0px 0px 4px;
}
.div-1-1 >span{
    position: absolute;
    width: 543px;
    height: 26px;
    left: 30px;
    top: 23px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
}
.div-1-1 >a{
    position: absolute;
    right: 30px;
    top: 29px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #59C6B2;
}
.div-1-2 a:nth-child(1){
    position: absolute;
    width: 90.05px;
    left: 106.13px;
    top: 87px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #0FDCC1;
}
.div-1-2 a:nth-child(2){
    position: absolute;
    width: 90.05px;
    left: 417px;
    top: 88px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #333333;
}

.hr-1{
    position: absolute;
    width: 603px;
    height: 0px;
    top: 122px;
}


.div-1-3 button:nth-child(1){
    position: absolute;
    width: 121px;
    height: 35px;
    left: 40px;
    top: 152px;
}
.div-1-3 button:nth-child(2){
    position: absolute;
    width: 121px;
    height: 35px;
    left: 170px;
    top: 152px;
}
.div-1-3 button:nth-child(3){
    position: absolute;
    width: 90px;
    height: 35px;
    left: 300px;
    top: 152px;
}
.div-1-3 button:nth-child(4){
    position: absolute;
    width: 90px;
    height: 35px;
    left: 399px;
    top: 152px;
}
.div-1-3 >button{
    background: #0FDCC1;
    border-radius: 34px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    border: 0px;
}



.div-1-4 button:nth-child(1){
    position: absolute;
    width: 77px;
    height: 35px;
    left: 40px;
    top: 198px;
}
.div-1-4 button:nth-child(2){
    position: absolute;
    width: 90px;
    height: 35px;
    left: 126px;
    top: 198px;
}
.div-1-4 button:nth-child(3){
    position: absolute;
    width: 119px;
    height: 35px;
    left: 225px;
    top: 198px;
}
.div-1-4 button:nth-child(4){
    position: absolute;
    width: 90px;
    height: 35px;
    left: 353px;
    top: 198px;
}
.div-1-4 >button{
    background: #0FDCC1;
    border-radius: 34px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    border: 0px;
}
/* 
------------------------------------------------------------------------------------ */
.div-1-5{
    position: absolute;
    width: 523px;
    height: 24px;
    left: 40px;
    top: 272px;
}

.div-1-5 summary{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #777777;
}

.div-1-5 span{
    position: absolute;
    width: 50px;
    height: 27px;
    top: 31px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
}

.div-1-5 table{
    position: absolute;
    width: 483px;
    height: 224px;
    left: 20px;
    top: 7px;
    table-layout: auto;
    border-collapse: separate;
    border-spacing: 0px 13px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}
.table-div{
    position: absolute;
    width: 523px;
    height: 264px;
    top: 70px;
    background: #F4F5F9;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
}


/* 
------------------------------------------------------------------------------------- */
.div-2{
    position: absolute;
    width: 603px;
    height: 261px;
    left: 817px;
    top: 930px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px 0px 0px 4px;
}
.details-1{
    position: absolute;
    width: 527px;
    height: 24px;
    left: 40px;
    top: 21px;
}

.details-1 >summary{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #777777;
}
.details-1 span{
    position: absolute;
    width: 50px;
    height: 27px;
    top: 32px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
}
.details-1 table{
    position: absolute;
    width: 478px;
    height: 98px;
    left: 17px;
    top: 1px;
    border-collapse: separate;
    border-spacing: 0px 17px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}

.table-div-2{
    position: absolute;
    width: 523px;
    height: 134px;
    top: 71px;
    background: #F4F5F9;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
}

.tr-hr-1 td{
    padding-top: 7px;
    border-top: 1px solid #E3E3E3;
}

strong{
    font-weight: bold;
}

/* ------------------------------------------------------ */

.div-3{
    position: absolute;
    width: 603px;
    height: 345px;
    left: 817px;
    top: 1198px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px 0px 0px 4px;
}
.details-2{
    position: absolute;
    width: 529px;
    height: 285px;
    left: 40px;
    top: 25px;
}
.details-2 summary{
    position: absolute;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
}

.table-div-3{
    position: absolute;
    width: 523px;
    height: 246px;
    top: 39px;
    background: #F4F5F9;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
}

.div-3 table:nth-child(1){
    position: absolute;
    width: 483px;
    height: 118px;
    top: 19px;
    left: 20px;
}
.div-3 table:nth-child(2){
    position: absolute;
    width: 490px;
    height: 46px;
    top: 174px;
    left: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #777777;
}

.tr-1 td{
    padding-bottom: 13px;
    font-style: normal;
    font-weight: bold;
    color: #333333;
}
.tr-2 td{
    padding-bottom: 24px;
    font-style: normal;
    font-weight: normal;
    color: #333333;
}
.tr-3 td{
    padding-bottom: 13px;
    font-style: normal;
    font-weight: bold;
    color: #333333;
}
.tr-4 td{
    padding-bottom: 37px;
    font-style: normal;
    font-weight: normal;
    color: #333333;
}


.tr-hr-2{
    position: absolute;
    width: 0px;
    height: 37px;
    top: 167px;
    left: 95px;
    color: #777777;
}

/* ------------------------------------------------------ */
.div-4{
    position: absolute;
    width: 603px;
    height: 189px;
    left: 817px;
    top: 1550px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px 0px 0px 4px;
}
.details-3{
    position: absolute;
    width: 529px;
    height: 27px;
    left: 40px;
    top: 25px;
}
.table-div-4{
    position: absolute;
    width: 523px;
    height: 90px;
    top: 39px;
    background: #F4F5F9;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
}
.div-4 summary{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
}
.table-div-4 table{
    position: absolute;
    top: 7px;
    left: 19px;
    border-collapse: separate;
    border-spacing: 0px 12px;
}
.table-div-4 table tr td:nth-child(1){
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}
.table-div-4 table tr td:nth-child(2){
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}

/* ------------------------------------------------------ */
.div-5{
    position: absolute;
    width: 603px;
    height: 152px;
    left: 817px;
    top: 1746px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px 0px 0px 4px;
}
.details-4{
    position: absolute;
    width: 529px;
    height: 27px;
    left: 40px;
    top: 25px;
}
.details-4 summary{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
}
.table-div-5{
    position: absolute;
    width: 523px;
    height: 53px;
    top: 39px;
    background: #F4F5F9;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
}
.table-div-5 tr{
    position: absolute;
    top: 16px;
    left: 20px;
}
.table-div-5 tr td:nth-child(1){
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}
.table-div-5 tr td:nth-child(2){
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}
.table-div-5 tr td:nth-child(3){
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}
.table-div-5 tr td:nth-child(4){
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}


/* ------------------------------------------------------ */
.div-6{
    position: absolute;
    width: 603px;
    height: 479px;
    left: 817px;
    top: 1905px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px 0px 0px 4px;
}
.details-5{
    position: absolute;
    width: 529px;
    height: 27px;
    left: 40px;
    top: 25px;
}
.details-5 summary{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
}
.details-5 span{
    position: absolute;
    top: 34px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    color: #777777;
}
.table-div-6{
    position: absolute;
    width: 529px;
    height: 152px;
    top: 68px;
    background: #F4F5F9;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
}
.table-div-7{
    position: absolute;
    width: 529px;
    height: 181px;
    top: 250px;
    background: #F4F5F9;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
}
.table-div-6 tr:nth-child(1){
    position: absolute;
    width: 78px;
    height: 21px;
    top: 16px;
    left: 19px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}
.table-div-6 tr:nth-child(2){
    position: absolute;
    top: 49px;
    left: 19px;
}
.table-div-6 tr td:nth-child(1){
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}
.table-div-6 tr td:nth-child(2){
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}
.table-div-6 tr td:nth-child(3){
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}
.table-div-6 tr td:nth-child(4){
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}


.table-div-6 tr:nth-child(3){
    position: absolute;
    top: 78px;
    left: 19px;
}
.table-div-6 tr:nth-child(4){
    position: absolute;
    top: 107px;
    left: 19px;
}


.table-div-7 tr:nth-child(1){
    position: absolute;
    top: 16px;
    left: 19px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}
.table-div-7 tr td:nth-child(1){
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}
.table-div-7 tr td:nth-child(2){
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}
.table-div-7 tr td:nth-child(3){
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}
.table-div-7 tr td:nth-child(4){
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}


.table-div-7 tr:nth-child(2){
    position: absolute;
    top: 49px;
    left: 19px;
}
.table-div-7 tr:nth-child(3){
    position: absolute;
    top: 78px;
    left: 19px;
}
.table-div-7 tr:nth-child(4){
    position: absolute;
    top: 107px;
    left: 19px;
}
.table-div-7 tr:nth-child(5){
    position: absolute;
    top: 136px;
    left: 19px;
}


/* ------------------------------------------------------ */

.div-7{
    position: absolute;
    width: 603px;
    height: 414px;
    left: 817px;
    top: 2391px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px 0px 0px 4px;
}
.div-7 >span{
    position: absolute;
    width: 81px;
    height: 21px;
    left: 40px;
    top: 23px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #777777;
}
.details-6{
    position: absolute;
    width: 529px;
    height: 27px;
    left: 40px;
    top: 53px;
}
.details-6 summary{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
}
.details-6 span{
    position: absolute;
    top: 46px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}
.details-6 table tr td{
    position: absolute;
    width: 522px;
    height: 227px;
    top: 80px;
    background: #F4F5F9;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
}
.details-6 img{
    position: absolute;
    width: 23px;
    height: 23px;
    top: 325px;
}
.details-6 p{
    position: absolute;
    width: 161px;
    height: 23px;
    top: 330px;
    left: 33px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #333333;
}

/* ------------------------------------------------------ */

.div-8{
    position: absolute;
    width: 603px;
    height: 207px;
    left: 817px;
    top: 2812px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px 0px 0px 4px;
}
.details-7{
    position: absolute;
    width: 529px;
    height: 27px;
    left: 40px;
    top: 25px;
}
.details-7 summary{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
}
.table-div-8{
    position: absolute;
    width: 523px;
    height: 108px;
    top: 39px;
    background: #F4F5F9;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
}
.table-div-8 table tr:nth-child(1){
    position: absolute;
    top: 17px;
    left: 19px;
}
.table-div-8 table tr:nth-child(2){
    position: absolute;
    top: 69px;
    left: 19px;
}
.table-div-8 table tr:nth-child(1){
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}
.table-div-8 table tr:nth-child(2){
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #777777;
}

.tr-hr-3{
    position: absolute;
    width: 483px;
    height: 0px;
    top: 45px;
    left: 20px;
    color: #E3E3E3;
}



/* ------------------------------------------------------ */
.div-9{
    position: absolute;
    width: 603px;
    height: 73px;
    left: 817px;
    top: 3026px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px 0px 0px 4px;
}
.div-9 >p{
    position: absolute;
    width: 212px;
    height: 21px;
    left: 40px;
    top: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #999999;
}

