.main-div-1{
    position: absolute;
    width: 406px;
    height: 234px;
    left: 817px;
    top: 283px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px 0px 0px 4px;
}
.main-div-department{
    position: absolute;
    width: 38px;
    height: 21px;
    top: 23px;
    left: 20px;
    background: #0FDCC1;
    border-radius: 4px;
}
.internal{
    padding-top: 5px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: white;
}

.main-div-doctor{
    position: absolute;
    width: 50px;
    height: 21px;
    top: 23px;
    left: 63px;
    background: #EC7676;
    border-radius: 4px;
}
.prof{
    padding-top: 5px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: white;
}
.main-div-name{
    position: absolute;
    top: 51px;
    left: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
}
.main-div-star{
    position: absolute;
    top: 84px;
    left: 20px;
}
.main-div-img{
    position: absolute;
    top: 116px;
    left: 18px;
}
.main-div-loc{
    position: absolute;
    top: 119px;
    left: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
}
.main-div-address{
    position: absolute;
    top: 142px;
    left: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #959595;
}
.main-div-info{
    position: absolute;
    top: 191px;
    left: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    color: #02C0A7;
}



.main-div-2{
    position: absolute;
    width: 406px;
    height: 234px;
    left: 817px;
    top: 537px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px 0px 0px 4px;
}

.main-div-3{
    position: absolute;
    width: 406px;
    height: 234px;
    left: 817px;
    top: 791px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px 0px 0px 4px;
}

.main-div-4{
    position: absolute;
    width: 406px;
    height: 234px;
    left: 817px;
    top: 1045px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px 0px 0px 4px;
}

