@import url(reset.css);

header{
    position: absolute;
    width: 1920px;
    height: 113px;
}

a{text-decoration: none;
    color: black;
}
.a-special{
    color: #1DE2C7;
}


#main-menu-div >ul>li{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

#main-menu-div li:nth-child(1){
    position: absolute;
    left: 331px;
    right: 1429px;
    top: 37px;
}

#main-menu-div li:nth-child(2){
    position: absolute;
    height: 30px;
    left: 580px;
    right: 1303px;
    top: 37px;
}

#main-menu-div li:nth-child(3){
    position: absolute;
    height: 30px;
    left: 682px;
    right: 1201px;
    top: 37px;
}

#main-menu-div li:nth-child(4){
    position: absolute;
    height: 30px;
    left: 784px;
    right: 1099px;
    top: 37px;
}

#main-menu-div li:nth-child(5){
    position: absolute;
    height: 30px;
    left: 886px;
    right: 1015px;
    top: 37px;
}

#main-menu-div li:nth-child(6){
    position: absolute;
    height: 30px;
    left: 970px;
    right: 876px;
    top: 37px;
}

#main-menu-div li:nth-child(7){
    position: absolute;
    height: 30px;
    left: 1109px;
    right: 719px;
    top: 37px;
}

#main-join-div >ul>li{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

#main-join-div li:nth-child(1){
    position: absolute;
    height: 21px;
    left: 1478px;
    right: 403px;
    top: 41px;
}
#main-join-div li:nth-child(2){
    position: absolute;
    height: 14px;
    left: 1527px;
    right: 391.5px;
    top: 20px;
}
#main-join-div li:nth-child(3){
    position: absolute;
    height: 21px;
    left: 1539px;
    right: 329px;
    top: 41px;
}

#navigation{
    position: absolute;
    width: 1920px;
    height: 87px;
    left: 0px;
    top: 113px;
    background: #1DE2C7;
}

#hospital_logo{
    position: absolute;
    left: 340px;
    top: 25px;
}
#navigation >h4{
    position: absolute;
    left: 375px;
    top: 27px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}
#city-select{
    position: absolute;
    width: 99px;
    height: 30px;
    left: 530px;
    top: 27px;
    background: #FFFFFF;
    border-radius: 2px;
    border: 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 2.1em;
}
#province-select{
    position: absolute;
    width: 99px;
    height: 30px;
    left: 639px;
    top: 27px;
    background: #FFFFFF;
    border-radius: 2px;
    border: 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 2.1em;
}

#town-select{
    position: absolute;
    width: 99px;
    height: 30px;
    left: 748px;
    top: 27px;
    background: #FFFFFF;
    border-radius: 2px;
    border: 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 2.1em;
}
#nav-search{
    position: absolute;
    width: 288px;
    height: 30px;
    left: 1068px;
    top: 27px;
    background: #FFFFFF;
    border-radius: 2px;
}
#nav-search{
    border: 0px;
}
#nav-search-button{
    position: absolute;
    width: 61px;
    height: 30px;
    left: 1360px;
    top: 27px;
    color: white;
    background: #333333;
    border-radius: 2px;
    border:0px;
}
#nav-report{
    position: absolute;
    width: 67px;
    height: 27px;
    left: 1503px;
    top: 27px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: right;
    color: #333333
}

#aside-menu{
    position: absolute;
    width: 288px;
    height: 1206px;
    left: 499px;
    top: 232px;
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 4px;
}
#aside-menu-1 >li>span{
    position: relative;
    width: 248px;
    height: 27px;
    left: 20px;
    top: 18px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #202020;
}
#aside-menu-1 >li>a{
    position: absolute;
    width: 39px;
    height: 21px;
    left: 229px;
    top: 22px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #6D6D6D;
}

#aside-menu-2 >li>input{
    position: relative;
    width: 248px;
    height: 46px;
    left: 16px;
    top: 28px;
    background: #17CEB5;
    border-radius: 4px;
    border:0px;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

#aside-menu-3{
    position: relative;
    width: 236px;
    height: 92px;
    left: 16px;
    top: 45px;
    line-height: 1.8em;
}

input[type='radio'],
input[type='radio']:checked{
    appearance: none;
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 100%;
    margin-right: 0.1rem;
    background-color: #5BC7B3;
}
input[type='radio']{
    background-color: white;
    border: 1.5px solid #5BC7B3;
}




#aside-menu-4 li{
    position: absolute;
    width: 247px;
    height: 26px;
    left: 16px;
    top: 219px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    color: #202020;
}

input[type="checkbox"]+label{
    display: block;
    width: 16px;
    height: 16px;
    background: url('../image/login_image/Vector-off.png') no-repeat 0 0px / contain;
}
input[type='checkbox']:checked+label{
    background: url('../image/login_image/Vector.png') no-repeat 0 1px / contain;
}
input[type="checkbox"]{
    display: none;
}


#aside-menu-5{
    position: relative;
    width: 236px;
    height: 126px;
    left: 18px;
    top: 87px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #202020;
}
#aside-menu-5 span{
    position: relative;
    top: -15px;
    left: 21px;
}



#aside-menu-6 >li>input{
    position: relative;
    width: 247px;
    height: 46px;
    left: 16px;
    top: 83px;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 4px;
    color: #202020;
    background-color: white;
}

#aside-menu-7 li{
    position: absolute;
    width: 247px;
    height: 26px;
    left: 16px;
    top: 440px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    color: #202020;
}

#aside-menu-8{
    position: relative;
    width: 236px;
    height: 126px;
    left: 18px;
    top: 136px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #202020;
}
#aside-menu-8 li span{
    position: relative;
    top: -15px;
    left: 21px;
}



#aside-menu-9 >li>input{
    position: relative;
    width: 247px;
    height: 46px;
    left: 16px;
    top: 132px;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 4px;
    color: #202020;
    background-color: white;
}
#aside-menu-10 li{
    position: absolute;
    width: 247px;
    height: 26px;
    left: 16px;
    top: 660px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    color: #202020;
}

#aside-menu-11{
    position: relative;
    width: 236px;
    height: 126px;
    left: 18px;
    top: 186px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #202020;
}
#aside-menu-11 span{
    position: relative;
    top: -15px;
    left: 21px;
}


#aside-menu-12 li{
    position: absolute;
    width: 247px;
    height: 26px;
    left: 16px;
    top: 850px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    color: #202020;
}
#aside-menu-13{
    position: relative;
    width: 236px;
    height: 126px;
    left: 18px;
    top: 250px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #202020;
}

#aside-menu-13 span{
    position: relative;
    top: -15px;
    left: 21px;
}

#aside-menu-14 >li>input{
    position: relative;
    width: 247px;
    height: 46px;
    left: 16px;
    top: 254px;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 4px;
    color: #202020;
    background-color: white;
}

#main-div-1{
    position: absolute;
    width: 406px;
    height: 234px;
    left: 817px;
    top: 283px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px 0px 0px 4px;
}
.main-div-department{
    position: absolute;
    width: 38px;
    height: 21px;
    top: 23px;
    left: 20px;
    background: #0FDCC1;
    border-radius: 4px;
}
.internal{
    padding-top: 5px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: white;
}

.main-div-doctor{
    position: absolute;
    width: 50px;
    height: 21px;
    top: 23px;
    left: 63px;
    background: #EC7676;
    border-radius: 4px;
}
.prof{
    padding-top: 5px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: white;
}
.main-div-name{
    position: absolute;
    top: 51px;
    left: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
}
.main-div-star{
    position: absolute;
    top: 84px;
    left: 20px;
}
.main-div-img{
    position: absolute;
    top: 116px;
    left: 18px;
}
.main-div-loc{
    position: absolute;
    top: 119px;
    left: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
}
.main-div-address{
    position: absolute;
    top: 142px;
    left: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #959595;
}
.main-div-info{
    position: absolute;
    top: 191px;
    left: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    color: #02C0A7;
}



#main-div-2{
    position: absolute;
    width: 406px;
    height: 234px;
    left: 817px;
    top: 537px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px 0px 0px 4px;
}

#main-div-3{
    position: absolute;
    width: 406px;
    height: 234px;
    left: 817px;
    top: 791px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px 0px 0px 4px;
}

#main-div-4{
    position: absolute;
    width: 406px;
    height: 234px;
    left: 817px;
    top: 1045px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px 0px 0px 4px;
}

