@import url(reset.css);

header{
    position: absolute;
    width: 1920px;
    height: 113px;
}

a{text-decoration: none;
    color: black;
}
.a-special{
    color: #1DE2C7;
}


#main-menu-div >ul>li{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

#main-menu-div li:nth-child(1){
    position: absolute;
    left: 331px;
    right: 1429px;
    top: 37px;
}

#main-menu-div li:nth-child(2){
    position: absolute;
    height: 30px;
    left: 580px;
    right: 1303px;
    top: 37px;
}

#main-menu-div li:nth-child(3){
    position: absolute;
    height: 30px;
    left: 682px;
    right: 1201px;
    top: 37px;
}

#main-menu-div li:nth-child(4){
    position: absolute;
    height: 30px;
    left: 784px;
    right: 1099px;
    top: 37px;
}

#main-menu-div li:nth-child(5){
    position: absolute;
    height: 30px;
    left: 886px;
    right: 1015px;
    top: 37px;
}

#main-menu-div li:nth-child(6){
    position: absolute;
    height: 30px;
    left: 970px;
    right: 876px;
    top: 37px;
}

#main-menu-div li:nth-child(7){
    position: absolute;
    height: 30px;
    left: 1109px;
    right: 719px;
    top: 37px;
}

#main-join-div >ul>li{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

#main-join-div li:nth-child(1){
    position: absolute;
    height: 21px;
    left: 1478px;
    right: 403px;
    top: 41px;
}
#main-join-div li:nth-child(2){
    position: absolute;
    height: 14px;
    left: 1527px;
    right: 391.5px;
    top: 20px;
}
#main-join-div li:nth-child(3){
    position: absolute;
    height: 21px;
    left: 1539px;
    right: 329px;
    top: 41px;
}

#navigation{
    position: absolute;
    width: 1920px;
    height: 87px;
    left: 0px;
    top: 113px;
    background: #1DE2C7;
}

#hospital_logo{
    position: absolute;
    left: 340px;
    top: 25px;
}
#navigation >h4{
    position: absolute;
    left: 375px;
    top: 27px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}
#city-select{
    position: absolute;
    width: 99px;
    height: 30px;
    left: 530px;
    top: 27px;
    background: #FFFFFF;
    border-radius: 2px;
    border: 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 2.1em;
}
#province-select{
    position: absolute;
    width: 99px;
    height: 30px;
    left: 639px;
    top: 27px;
    background: #FFFFFF;
    border-radius: 2px;
    border: 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 2.1em;
}

#town-select{
    position: absolute;
    width: 99px;
    height: 30px;
    left: 748px;
    top: 27px;
    background: #FFFFFF;
    border-radius: 2px;
    border: 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 2.1em;
}
#nav-search{
    position: absolute;
    width: 288px;
    height: 30px;
    left: 1068px;
    top: 27px;
    background: #FFFFFF;
    border-radius: 2px;
}
#nav-search{
    border: 0px;
}
#nav-search-button{
    position: absolute;
    width: 61px;
    height: 30px;
    left: 1360px;
    top: 27px;
    color: white;
    background: #333333;
    border-radius: 2px;
    border:0px;
}
#nav-report{
    position: absolute;
    width: 67px;
    height: 27px;
    left: 1503px;
    top: 27px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: right;
    color: #333333
}

#aside-menu{
    position: absolute;
    width: 288px;
    height: 1206px;
    left: 499px;
    top: 232px;
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 4px;
}
#aside-menu-1 >li>span{
    position: relative;
    width: 248px;
    height: 27px;
    left: 20px;
    top: 18px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #202020;
}
#aside-menu-1 >li>a{
    position: absolute;
    width: 39px;
    height: 21px;
    left: 229px;
    top: 22px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #6D6D6D;
}

#aside-menu-2 >li>input{
    position: relative;
    width: 248px;
    height: 46px;
    left: 16px;
    top: 28px;
    background: #17CEB5;
    border-radius: 4px;
    border:0px;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

#aside-menu-3{
    position: relative;
    width: 236px;
    height: 92px;
    left: 16px;
    top: 45px;
    line-height: 1.8em;
}

input[type='radio'],
input[type='radio']:checked{
    appearance: none;
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 100%;
    margin-right: 0.1rem;
    background-color: #5BC7B3;
}
input[type='radio']{
    background-color: white;
    border: 1.5px solid #5BC7B3;
}




#aside-menu-4 li{
    position: absolute;
    width: 247px;
    height: 26px;
    left: 16px;
    top: 219px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    color: #202020;
}

input[type="checkbox"]+label{
    display: block;
    width: 16px;
    height: 16px;
    background: url('../image/login_image/Vector-off.png') no-repeat 0 0px / contain;
}
input[type='checkbox']:checked+label{
    background: url('../image/login_image/Vector.png') no-repeat 0 1px / contain;
}
input[type="checkbox"]{
    display: none;
}


#aside-menu-5{
    position: relative;
    width: 236px;
    height: 126px;
    left: 18px;
    top: 87px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #202020;
}
#aside-menu-5 span{
    position: relative;
    top: -15px;
    left: 21px;
}



#aside-menu-6 >li>input{
    position: relative;
    width: 247px;
    height: 46px;
    left: 16px;
    top: 83px;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 4px;
    color: #202020;
    background-color: white;
}

#aside-menu-7 li{
    position: absolute;
    width: 247px;
    height: 26px;
    left: 16px;
    top: 440px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    color: #202020;
}

#aside-menu-8{
    position: relative;
    width: 236px;
    height: 126px;
    left: 18px;
    top: 136px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #202020;
}
#aside-menu-8 li span{
    position: relative;
    top: -15px;
    left: 21px;
}



#aside-menu-9 >li>input{
    position: relative;
    width: 247px;
    height: 46px;
    left: 16px;
    top: 132px;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 4px;
    color: #202020;
    background-color: white;
}
#aside-menu-10 li{
    position: absolute;
    width: 247px;
    height: 26px;
    left: 16px;
    top: 660px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    color: #202020;
}

#aside-menu-11{
    position: relative;
    width: 236px;
    height: 126px;
    left: 18px;
    top: 186px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #202020;
}
#aside-menu-11 span{
    position: relative;
    top: -15px;
    left: 21px;
}


#aside-menu-12 li{
    position: absolute;
    width: 247px;
    height: 26px;
    left: 16px;
    top: 850px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    color: #202020;
}
#aside-menu-13{
    position: relative;
    width: 236px;
    height: 126px;
    left: 18px;
    top: 250px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #202020;
}

#aside-menu-13 span{
    position: relative;
    top: -15px;
    left: 21px;
}

#aside-menu-14 >li>input{
    position: relative;
    width: 247px;
    height: 46px;
    left: 16px;
    top: 254px;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 4px;
    color: #202020;
    background-color: white;
}

.div-1{
    position: absolute;
    width: 603px;
    height: 640px;
    left: 817px;
    top: 283px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px 0px 0px 4px;
}
.div-1-1 >span{
    position: absolute;
    width: 543px;
    height: 26px;
    left: 30px;
    top: 23px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
}
.div-1-1 >a{
    position: absolute;
    right: 30px;
    top: 29px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #59C6B2;
}
.div-1-2 a:nth-child(1){
    position: absolute;
    width: 90.05px;
    left: 106.13px;
    top: 87px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #0FDCC1;
}
.div-1-2 a:nth-child(2){
    position: absolute;
    width: 90.05px;
    left: 417px;
    top: 88px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #333333;
}

.hr-1{
    position: absolute;
    width: 603px;
    height: 0px;
    top: 122px;
}

#div-1-3{
    position: absolute;
    width: 449px;
    height: 35px;
    left: 40px;
    top: 147px;
}
#div-1-3 >button{
    background: #0FDCC1;
    border-radius: 34px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    border: 0px;
}
#div-1-4{
    position: absolute;
    width: 403px;
    height: 35px;
    left: 40px;
    top: 180px;
}
#div-1-4 >button{
    background: #0FDCC1;
    border-radius: 34px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    border: 0px;
}

.div-1-5{
    position: absolute;
    width: 523px;
    height: 24px;
    left: 40px;
    top: 272px;
}

.div-2{
    position: absolute;
    width: 603px;
    height: 261px;
    left: 817px;
    top: 930px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px 0px 0px 4px;
}
.details-1{
    position: absolute;
    width: 527px;
    height: 21px;
    left: 40px;
    top: 23px;
}
/* 
----------------------------------------- */
.details-1 >summary{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #777777;
}
.details-1 >summary>span{
    position: absolute;
    width: 50px;
    height: 27px;
    left: 40px;
    top: 53px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
}
.details-1 >summary>span>table{
    position: absolute;
    width: 251px;
    height: 21px;
    left: 57px;
    top: 110px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}

/* ------------------------------------------------------ */

.div-3{
    position: absolute;
    width: 603px;
    height: 345px;
    left: 817px;
    top: 1198px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px 0px 0px 4px;
}
.details-2{
    position: absolute;
    width: 529px;
    height: 27px;
    left: 40px;
    top: 25px;
}

.div-4{
    position: absolute;
    width: 603px;
    height: 189px;
    left: 817px;
    top: 1550px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px 0px 0px 4px;
}
.details-3{
    position: absolute;
    width: 529px;
    height: 27px;
    left: 40px;
    top: 25px;
}

.div-5{
    position: absolute;
    width: 603px;
    height: 152px;
    left: 817px;
    top: 1746px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px 0px 0px 4px;
}
.details-4{
    position: absolute;
    width: 529px;
    height: 27px;
    left: 40px;
    top: 25px;
}

.div-6{
    position: absolute;
    width: 603px;
    height: 479px;
    left: 817px;
    top: 1905px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px 0px 0px 4px;
}
.details-5{
    position: absolute;
    width: 529px;
    height: 27px;
    left: 40px;
    top: 25px;
}

.div-7{
    position: absolute;
    width: 603px;
    height: 414px;
    left: 817px;
    top: 2391px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px 0px 0px 4px;
}
.div-7 >span{
    position: absolute;
    width: 81px;
    height: 21px;
    left: 40px;
    top: 23px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #777777;
}
.details-6{
    position: absolute;
    width: 529px;
    height: 27px;
    left: 40px;
    top: 53px;
}

.div-8{
    position: absolute;
    width: 603px;
    height: 207px;
    left: 817px;
    top: 2812px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px 0px 0px 4px;
}
.details-7{
    position: absolute;
    width: 529px;
    height: 27px;
    left: 40px;
    top: 25px;
}

.div-9{
    position: absolute;
    width: 603px;
    height: 73px;
    left: 817px;
    top: 3026px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px 0px 0px 4px;
}
.div-9 >p{
    position: absolute;
    width: 212px;
    height: 21px;
    left: 40px;
    top: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #999999;
}


























