@import url(reset.css);


#logo-container{
    position: absolute;
    left: 375px;
    top: 76px;
}

#h-container{
    position: absolute;
    left: 788px;
    top: 160px;
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
    line-height: 16px;
    color: #262626;;
}

#p-container{
    position: absolute;
    left: 856px;
    top: 223px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
}

#login-container li:nth-child(1){
    position: absolute;
    left: 828px;
    top: 279px;
}
#login-container li:nth-child(2){
    position: absolute;
    left: 903px;
    top: 278px;
}
#login-container li:nth-child(3){
    position: absolute;
    left: 978px;
    top: 278px;
}
#login-container li:nth-child(4){
    position: absolute;
    left: 1054px;
    top: 277px;
}

#p-container-2 >p{
    position: absolute;
    width: 56px;
    height: 24px;
    left: 947px;
    top: 372px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #9F9F9F;
}

#hr-left-1{
    position: absolute;
    width: 76px;
    height: 1px;
    left: 854px;
    top: 376px;
    color: #e3e3e3;
}
#hr-right-1{
    position: absolute;
    width: 76px;
    height: 1px;
    left: 996px;
    top: 376px;
    color: #e3e3e3;
}

#input-container{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

li{
    margin-top: 24px;
}

form{
    position: absolute;
    left: 797px;
    top: 410px;
}

li >input{
    width: 335px;
    height: 48px;
    background: #F3F3F3;
    border-radius: 4px;
    border: 1px solid #EAEAEA;
}
li >input::placeholder{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #9F9F9F;
}

/* #join-container{
    position: absolute;
    left: 796px;
    top: 837px;
} */
#join-container >input{
    position: absolute;
    left: 796px;
    top: 837px;
    width: 344px;
    height: 48px;
    background: #0FDCC1;
    border-radius: 4px;
    border: 1px solid #EAEAEA;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    color: #FFFFFF;
}

#already-container{
    position: absolute;
    left: 862px;
    top: 948px;
}
a{
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
} 
a:link{
    color: #0FDCC1;
}
a:visited{
    color:#0FDCC1;
} 