@import url(reset.css);

header{
    position: absolute;
    width: 1920px;
    height: 113px;
}

a{text-decoration: none;
    color: black;
}
.a-special{
    color: #1DE2C7;
}  

#main-menu-div >ul>li{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

#main-menu-div li:nth-child(1){
    position: absolute;
    left: 331px;
    right: 1429px;
    top: 37px;
}

#main-menu-div li:nth-child(2){
    position: absolute;
    height: 30px;
    left: 580px;
    right: 1303px;
    top: 37px;
}

#main-menu-div li:nth-child(3){
    position: absolute;
    height: 30px;
    left: 682px;
    right: 1201px;
    top: 37px;
}

#main-menu-div li:nth-child(4){
    position: absolute;
    height: 30px;
    left: 784px;
    right: 1099px;
    top: 37px;
}

#main-menu-div li:nth-child(5){
    position: absolute;
    height: 30px;
    left: 886px;
    right: 1015px;
    top: 37px;
}

#main-menu-div li:nth-child(6){
    position: absolute;
    height: 30px;
    left: 970px;
    right: 876px;
    top: 37px;
}

#main-menu-div li:nth-child(7){
    position: absolute;
    height: 30px;
    left: 1109px;
    right: 719px;
    top: 37px;
}

#main-join-div >ul>li{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

#main-join-div li:nth-child(1){
    position: absolute;
    height: 21px;
    left: 1478px;
    right: 403px;
    top: 41px;
}
#main-join-div li:nth-child(2){
    position: absolute;
    height: 14px;
    left: 1527px;
    right: 391.5px;
    top: 20px;
}
#main-join-div li:nth-child(3){
    position: absolute;
    height: 21px;
    left: 1539px;
    right: 329px;
    top: 41px;
}

#navigation{
    position: absolute;
    width: 1920px;
    height: 87px;
    left: 0px;
    top: 113px;
    background: #1DE2C7;
}

#pill_logo{
    position: absolute;
    left: 340px;
    top: 25px;
}
#navigation >h4{
    position: absolute;
    left: 375px;
    top: 27px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

#nav-search{
    position: absolute;
    width: 288px;
    height: 30px;
    left: 1068px;
    top: 27px;
    background: #FFFFFF;
    border-radius: 2px;
}
#nav-search{
    border: 0px;
}
#nav-search-button{
    position: absolute;
    width: 61px;
    height: 30px;
    left: 1360px;
    top: 27px;
    color: white;
    background: #333333;
    border-radius: 2px;
    border:0px;
}
#nav-report{
    position: absolute;
    width: 67px;
    height: 27px;
    left: 1503px;
    top: 27px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: right;
    color: #333333
}

.aside-container{
    position: absolute;
    width: 288px;
    height: 928px;
    left: 499px;
    top: 232px;
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 4px;
}
#aside-menu-1 >li>span{
    position: relative;
    width: 248px;
    height: 27px;
    left: 20px;
    top: 18px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #202020;
}
#aside-menu-1 >li>a{
    position: absolute;
    width: 39px;
    height: 21px;
    left: 229px;
    top: 22px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #6D6D6D;
}
#aside-menu-2 >li>input{
    position: relative;
    width: 248px;
    height: 46px;
    left: 16px;
    top: 28px;
    background: #17CEB5;
    border-radius: 4px;
    border:0px;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}
#aside-menu-4{
    position: absolute;
    width: 247px;
    height: 26px;
    left: 16px;
    top: 123px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    color: #202020;
}
#aside-menu-5{
    position: absolute;
    width: 236px;
    height: 58px;
    left: 16px;
    top: 160px;
}
#aside-menu-5 span{
    position: relative;
    left: 21px;
    top: -17px;
}


input[type="checkbox"]+label{
    display: block;
    width: 16px;
    height: 16px;
    background: url('../image/login_image/Vector-off.png') no-repeat 0 0px / contain;
}
input[type='checkbox']:checked+label{
    background: url('../image/login_image/Vector.png') no-repeat 0 1px / contain;
}
input[type="checkbox"]{
    display: none;
}



#aside-menu-6{
    position: absolute;
    width: 86px;
    height: 28px;
    left: 16px;
    top: 236px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #333333;
}
#aside-menu-7{
    position: absolute;
    width: 86px;
    height: 28px;
    left: 16px;
    top: 275px;
}
#aside-menu-8{
    position: absolute;
    width: 86px;
    height: 28px;
    left: 16px;
    top: 324px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #333333;
}
#aside-menu-9{
    position: absolute;
    width: 219px;
    height: 20px;
    left: 16px;
    top: 362px;
}
#aside-menu-10{
    position: absolute;
    width: 247px;
    height: 26px;
    left: 16px;
    top: 433px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    color: #202020;
}
#aside-menu-11{
    position: absolute;
    width: 236px;
    height: 126px;
    left: 16px;
    top: 475px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #202020;
}
#aside-menu-11 span{
    position: relative;
    left: 21px;
    top: -15px;
}


#aside-menu-12 >li>input{
    position: absolute;
    width: 247px;
    height: 46px;
    left: 16px;
    top: 609px;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 4px;
    color: #202020;
    background-color: white;
}
#aside-menu-13{
    position: absolute;
    width: 247px;
    height: 26px;
    left: 16px;
    top: 675px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    color: #202020;
}
#aside-menu-14{
    position: absolute;
    width: 251px;
    height: 126px;
    left: 16px;
    top: 716px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #202020;
}
#aside-menu-14 span{
    position: relative;
    left: 21px;
    top: -15px;
}



#aside-menu-15 >li>input{
    position: absolute;
    width: 247px;
    height: 46px;
    left: 16px;
    top: 851px;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 4px;
    color: #202020;
    background-color: white;
}


.main-div-1{
    position: absolute;
    width: 467px;
    height: 156px;
    left: 817px;
    top: 283px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}
.main-div-name{
    position: absolute;
    width: 197px;
    height: 24px;
    left: 20px;
    top: 23px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
}
.main-div-star{
    position: absolute;
    width: 165px;
    height: 24px;
    left: 20px;
    top: 56px;

}
.main-div-price{
    position: absolute;
    width: 22px;
    height: 16px;
    left: 21px;
    top: 91px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
}
.main-div-company{
    position: absolute;
    width: 88px;
    height: 17px;
    left: 55px;
    top: 87px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #959595;
}
.main-div-info{
    position: absolute;
    width: 107px;
    height: 19px;
    left: 21px;
    top: 114px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    color: #0FDCC1;
}














.main-div-2{
    position: absolute;
    width: 467px;
    height: 156px;
    left: 817px;
    top: 451px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}
.main-div-3{
    position: absolute;
    width: 467px;
    height: 156px;
    left: 817px;
    top: 619px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}
.main-div-4{
    position: absolute;
    width: 467px;
    height: 156px;
    left: 817px;
    top: 787px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}
.main-div-5{
    position: absolute;
    width: 467px;
    height: 156px;
    left: 817px;
    top: 955px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}