@import url(reset.css);

header{
    position: absolute;
    width: 1920px;
    height: 113px;
}

a{text-decoration: none;
    color: black;
}
.a-special{
    color: #1DE2C7;
}  

#main-menu-div >ul>li{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

#main-menu-div li:nth-child(1){
    position: absolute;
    left: 331px;
    right: 1429px;
    top: 37px;
}

#main-menu-div li:nth-child(2){
    position: absolute;
    height: 30px;
    left: 580px;
    right: 1303px;
    top: 37px;
}

#main-menu-div li:nth-child(3){
    position: absolute;
    height: 30px;
    left: 682px;
    right: 1201px;
    top: 37px;
}

#main-menu-div li:nth-child(4){
    position: absolute;
    height: 30px;
    left: 784px;
    right: 1099px;
    top: 37px;
}

#main-menu-div li:nth-child(5){
    position: absolute;
    height: 30px;
    left: 886px;
    right: 1015px;
    top: 37px;
}

#main-menu-div li:nth-child(6){
    position: absolute;
    height: 30px;
    left: 970px;
    right: 876px;
    top: 37px;
}

#main-menu-div li:nth-child(7){
    position: absolute;
    height: 30px;
    left: 1109px;
    right: 719px;
    top: 37px;
}

#main-join-div >ul>li{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

#main-join-div li:nth-child(1){
    position: absolute;
    height: 21px;
    left: 1478px;
    right: 403px;
    top: 41px;
}
#main-join-div li:nth-child(2){
    position: absolute;
    height: 14px;
    left: 1527px;
    right: 391.5px;
    top: 20px;
}
#main-join-div li:nth-child(3){
    position: absolute;
    height: 21px;
    left: 1539px;
    right: 329px;
    top: 41px;
}

#navigation{
    position: absolute;
    width: 1920px;
    height: 87px;
    left: 0px;
    top: 113px;
    background: #1DE2C7;
}

#pill_logo{
    position: absolute;
    left: 340px;
    top: 25px;
}
#navigation >h4{
    position: absolute;
    left: 375px;
    top: 27px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

#nav-search{
    position: absolute;
    width: 288px;
    height: 30px;
    left: 1068px;
    top: 27px;
    background: #FFFFFF;
    border-radius: 2px;
}
#nav-search{
    border: 0px;
}
#nav-search-button{
    position: absolute;
    width: 61px;
    height: 30px;
    left: 1360px;
    top: 27px;
    color: white;
    background: #333333;
    border-radius: 2px;
    border:0px;
}
#nav-report{
    position: absolute;
    width: 67px;
    height: 27px;
    left: 1503px;
    top: 27px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: right;
    color: #333333
}


.aside-container{
    position: absolute;
    width: 288px;
    height: 928px;
    left: 499px;
    top: 232px;
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 4px;
}
#aside-menu-1 >li>span{
    position: relative;
    width: 248px;
    height: 27px;
    left: 20px;
    top: 18px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #202020;
}
#aside-menu-1 >li>a{
    position: absolute;
    width: 39px;
    height: 21px;
    left: 229px;
    top: 22px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #6D6D6D;
}
#aside-menu-2 >li>input{
    position: relative;
    width: 248px;
    height: 46px;
    left: 16px;
    top: 28px;
    background: #17CEB5;
    border-radius: 4px;
    border:0px;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}
#aside-menu-4{
    position: absolute;
    width: 247px;
    height: 26px;
    left: 16px;
    top: 123px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    color: #202020;
}
#aside-menu-5{
    position: absolute;
    width: 236px;
    height: 58px;
    left: 16px;
    top: 160px;
}
#aside-menu-5 span{
    position: relative;
    left: 21px;
    top: -17px;
}


input[type="checkbox"]+label{
    display: block;
    width: 16px;
    height: 16px;
    background: url('../image/login_image/Vector-off.png') no-repeat 0 0px / contain;
}
input[type='checkbox']:checked+label{
    background: url('../image/login_image/Vector.png') no-repeat 0 1px / contain;
}
input[type="checkbox"]{
    display: none;
}



#aside-menu-6{
    position: absolute;
    width: 86px;
    height: 28px;
    left: 16px;
    top: 236px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #333333;
}
#aside-menu-7{
    position: absolute;
    width: 86px;
    height: 28px;
    left: 16px;
    top: 275px;
}
#aside-menu-8{
    position: absolute;
    width: 86px;
    height: 28px;
    left: 16px;
    top: 324px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #333333;
}
#aside-menu-9{
    position: absolute;
    width: 219px;
    height: 20px;
    left: 16px;
    top: 362px;
}
#aside-menu-10{
    position: absolute;
    width: 247px;
    height: 26px;
    left: 16px;
    top: 433px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    color: #202020;
}
#aside-menu-11{
    position: absolute;
    width: 236px;
    height: 126px;
    left: 16px;
    top: 475px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #202020;
}
#aside-menu-11 span{
    position: relative;
    left: 21px;
    top: -15px;
}


#aside-menu-12 >li>input{
    position: absolute;
    width: 247px;
    height: 46px;
    left: 16px;
    top: 609px;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 4px;
    color: #202020;
    background-color: white;
}
#aside-menu-13{
    position: absolute;
    width: 247px;
    height: 26px;
    left: 16px;
    top: 675px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    color: #202020;
}
#aside-menu-14{
    position: absolute;
    width: 251px;
    height: 126px;
    left: 16px;
    top: 716px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #202020;
}
#aside-menu-14 span{
    position: relative;
    left: 21px;
    top: -15px;
}



#aside-menu-15 >li>input{
    position: absolute;
    width: 247px;
    height: 46px;
    left: 16px;
    top: 851px;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 4px;
    color: #202020;
    background-color: white;
}

.div-1{
    position: absolute;
    width: 603px;
    height: 729px;
    left: 817px;
    top: 283px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px 0px 0px 4px;
}

.div-1-1 >span{
    position: absolute;
    width: 543px;
    height: 26px;
    left: 30px;
    top: 23px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
}

.div-1-1 >a{
    position: absolute;
    right: 30px;
    top: 29px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #59C6B2;
}

.div-1-2 a:nth-child(1){
    position: absolute;
    width: 90.05px;
    left: 106.13px;
    top: 87px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #0FDCC1;
}
.div-1-2 a:nth-child(2){
    position: absolute;
    width: 90.05px;
    left: 417px;
    top: 88px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #333333;
}

.hr-1{
    position: absolute;
    width: 603px;
    height: 0px;
    top: 120px;
}


.div-1-3 button:nth-child(1){
    position: absolute;
    width: 90px;
    height: 35px;
    left: 40px;
    top: 147px;
}
.div-1-3 button:nth-child(2){
    position: absolute;
    width: 77px;
    height: 35px;
    left: 139px;
    top: 147px;
}
.div-1-3 button:nth-child(3){
    position: absolute;
    width: 148px;
    height: 35px;
    left: 225px;
    top: 147px;
}

.div-1-3 >button{
    background: #0FDCC1;
    border-radius: 34px;
    font-family: 'noto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    border: 0px;
}



.div-1-4{
    position: absolute;
    width: 603px;
    height: 535px;
    top: 194px;
}
.div-1-4 summary{
    position: absolute;
    left: 40px;
    top: 22px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #777777;
}
.details-span-1{
    position: absolute;
    left: 40px;
    top: 53px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
}
.table-div-1{
    position: absolute;
    width: 523px;
    height: 159px;
    left: 40px;
    top: 93px;
    background: #F4F5F9;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
}
.details-span-2{
    position: absolute;
    left: 40px;
    top: 280px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
}
.table-div-2{
    position: absolute;
    width: 523px;
    height: 57px;
    top: 319px;
    left: 40px;
    background: #F4F5F9;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
}
.details-span-3{
    position: absolute;
    top: 404px;
    left: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
}
.table-div-3{
    position: absolute;
    width: 523px;
    height: 57px;
    top: 443px;
    left: 40px;
    background: #F4F5F9;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
}





















.div-2{
    position: absolute;
    width: 603px;
    height: 696px;
    left: 817px;
    top: 1019px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px 0px 0px 4px;
}
.div-2-1 span{
    position: absolute;
    left: 40px;
    top: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #777777;
}
.div-2-1 p{
    position: absolute;
    left: 40px;
    top: 54px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
}
.div-2-2{
    position: absolute;
    width: 523px;
    height: 194px;
    top: 93px;
    left: 40px;
    background: #F4F5F9;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
}
.div-2-2 p{
    position: absolute;
    width: 482px;
    height: 154px;
    top: 20px;
    left: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 155.14%;
}
.div-2-3 span{
    position: absolute;
    left: 40px;
    top: 315px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
}
.div-2-4{
    position: absolute;
    width: 523px;
    height: 305px;
    top: 354px;
    left: 40px;
    background: #F4F5F9;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
}
.div-2-4 p{
    position: absolute;
    width: 479px;
    height: 265px;
    top: 20px;
    left: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 155.14%;
}





















.div-3{
    position: absolute;
    width: 603px;
    height: 513px;
    left: 817px;
    top: 1722px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px 0px 0px 4px;
}
.div-3-0 span{
    position: absolute;
    left: 40px;
    top: 25px;
    width: 141px;
    height: 27px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
}
.div-3-1{
    position: absolute;
    width: 386px;
    height: 156px;
    top: 73px;
    left: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}
.div-pill-name{
    position: absolute;
    width: 197px;
    height: 24px;
    left: 20px;
    top: 23px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #333333;
}
.div-star{
    position: absolute;
    width: 165px;
    height: 24px;
    top: 56px;
    left: 40px;
}
.div-pill-price{
    position: absolute;
    width: 22px;
    height: 16px;
    top: 90px;
    left: 21px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
}
.div-pill-company{
    position: absolute;
    width: 88px;
    height: 17px;
    top: 86px;
    left: 55px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #959595;
}
.div-pill-info{
    position: absolute;
    width: 107px;
    height: 19px;
    top: 114px;
    left: 21px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    color: #0FDCC1;
}
.div-3-2{
    position: absolute;
    width: 386px;
    height: 156px;
    top: 241px;
    left: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}
.div-3-3 input{
    position: absolute;
    width: 523px;
    height: 46px;
    top: 420px;
    left: 40px;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 4px;
    color: #202020;
    background-color: white;
    font-weight: 500;
    font-size: 14px;
}

.div-4{
    position: absolute;
    width: 603px;
    height: 73px;
    left: 817px;
    top: 2242px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px 0px 0px 4px;
}
.div-4 span{
    position: absolute;
    top: 30px;
    left: 41px;
    width: 210px;
    height: 21px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #999999;
}