@import url(reset.css);

.main-container{
    position: relative;
    width: 485px;
    height: 801px;
    margin: auto;
    border: 1px solid #DADCDE;
}

.auto-modify input{
    position: absolute;
    left: 0%;
    right: 50.13%;
    top: 51px;
    bottom: 0%;
    width: 241.85px;
    height: 50px;
    border: none;
    background-color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}
.direct-modify input{
    position: absolute;
    left: 50.13%;
    right: 0%;
    top: 51px;
    bottom: 0%;
    width: 241.85px;
    height: 50px;
    border: none;
    background-color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}

.edit-container p{
    display: inline-block;
    margin-right: 170px;
    margin-left: 210px;
    margin-top: 17px;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}
.edit-container img{
    position: absolute;
    margin-top: 14px;
}

.hr-1{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 101px;
    border: 1px solid #F3F3F3;
}

.modify-complete input{
    position: absolute;
    left: 15.67%;
    right: 15.26%;
    top: 30.09%;
    bottom: 63.92%;
    background: #0FDCC1;
    border-radius: 4px;
    width: 335px;
    height: 48px;
    color: #FFFFFF;
    border: none;
}

.type-text{
    position: absolute;
    left: 15.46%;
    right: 26.19%;
    top: 16.73%;
    bottom: 79.9%;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
}
.type-text ul li input{
    position: absolute;
    left: 0px;
    top: 38px;
    width: 335px;
    height: 48px;
    background: #F3F3F3;
    border: 1px solid #0FDCC1;
    box-sizing: border-box;
    border-radius: 4px;
}