.main-date{
    position: absolute;
    width: 236px;
    height: 40px;
    left: 986px;
    top: 232px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.02), 0px 3px 4px -1px rgba(0, 0, 0, 0.05);
    border-radius: 36px;
}
.main-date img{
    position: absolute;
    top: 8px;
    left: 24px;
}
.main-date p{
    position: absolute;
    top: 10px;
    left: 52px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 139.3%;
    color: #333333;
}

.main-prescript-content-1{
    position: absolute;
    width: 604px;
    height: 185px;
    left: 816px;
    top: 296px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}
.content-date{
    position: absolute;
    top: 25px;
    left: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #777777;
}
.content-review{
    position: absolute;
    top: 22px;
    left: 415px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #02C0A7;
}
.content-pill-detail{
    position: absolute;
    top: 22px;
    left: 490px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #02C0A7;
}
.content-hr{
    position: absolute;
    top: 50px;
    left: 20px;
    width: 564px;
    height: 0;
    border: 1px solid #F3F3F3;
}
.content-img-1{
    position: absolute;
    top: 75px;
    left: 20px;
}
.content-name{
    position: absolute;
    top: 70px;
    left: 110px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}
.content-img-2{
    position: absolute;
    top: 95px;
    left: 106px;
}
.content-location{
    position: absolute;
    top: 101px;
    left: 127px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    font-family: 'Roboto', sans-serif;
    color: #959595;
}

.main-prescript-content-2{
    position: absolute;
    width: 604px;
    height: 185px;
    left: 816px;
    top: 505px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}
.content-subject{
    position: absolute;
    left: 206px;
    top: 73px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #959595;
}

.main-prescript-content-3{
    position: absolute;
    width: 604px;
    height: 185px;
    left: 816px;
    top: 714px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}
