@import url(reset.css);

header{
    position: absolute;
    width: 1920px;
    height: 113px;
}

a{text-decoration: none;}
a:link{
    color: black;
}


#main-menu-div >ul>li{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

#main-menu-div li:nth-child(1){
    position: absolute;
    left: 331px;
    right: 1429px;
    top: 37px;
}

#main-menu-div li:nth-child(2){
    position: absolute;
    height: 30px;
    left: 580px;
    right: 1303px;
    top: 37px;
}

#main-menu-div li:nth-child(3){
    position: absolute;
    height: 30px;
    left: 682px;
    right: 1201px;
    top: 37px;
}

#main-menu-div li:nth-child(4){
    position: absolute;
    height: 30px;
    left: 784px;
    right: 1099px;
    top: 37px;
}

#main-menu-div li:nth-child(5){
    position: absolute;
    height: 30px;
    left: 886px;
    right: 1015px;
    top: 37px;
}

#main-menu-div li:nth-child(6){
    position: absolute;
    height: 30px;
    left: 970px;
    right: 876px;
    top: 37px;
}

#main-menu-div li:nth-child(7){
    position: absolute;
    height: 30px;
    left: 1109px;
    right: 719px;
    top: 37px;
}

#main-join-div >ul>li{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

#main-join-div li:nth-child(1){
    position: absolute;
    height: 21px;
    left: 1478px;
    right: 403px;
    top: 41px;
}
#main-join-div li:nth-child(2){
    position: absolute;
    height: 14px;
    left: 1527px;
    right: 391.5px;
    top: 20px;
}
#main-join-div li:nth-child(3){
    position: absolute;
    height: 21px;
    left: 1539px;
    right: 329px;
    top: 41px;
}

#navigation{
    position: absolute;
    width: 1920px;
    height: 87px;
    left: 0px;
    top: 113px;
    background: #1DE2C7;
}

#prescript_logo{
    position: absolute;
    left: 340px;
    top: 25px;
}
#navigation >h4{
    position: absolute;
    left: 375px;
    top: 27px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

#nav-report{
    position: absolute;
    width: 67px;
    height: 27px;
    left: 1503px;
    top: 27px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: right;
    color: #333333
}

.main-content{
    position: absolute;
    width: 604px;
    height: 824px;
    left: 816px;
    top: 232px;
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 4px 4px 0px 0px;
}

.main-content-div1{
    position: relative;
    width: 604px;
    height: 306px;
}

.content-title{
    position: relative;
    top: 23px;
    left: 31px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #202020;
}

.content-date{
    position: absolute;
    width: 602px;
    height: 38px;
    top: 72px;
    background: #F2F4F6;
}
.content-date p{
    position: absolute;
    top: 9px;
    left: 39px;
}

.content-pill{
    position: absolute;
    top: 132px;
    left: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
}

.content-table-1{
    position: absolute;
    top: 172px;
    left: 41px;
    table-layout: auto;
    width: 90%;
    border-collapse: separate;
    border-spacing: 0px 14px;
}
.tr-1 td{
    padding-bottom: 28px;
    border-bottom: 1px solid #F3F3F3;
}
.tr-2 td:nth-child(2){
    text-align: center;
}
.tr-2 td:nth-child(3){
    text-align: center;
}
.tr-3 td:nth-child(2){
    text-align: center;
}
.tr-3 td:nth-child(3){
    text-align: center;
}

.content-empty-1{
    position: absolute;
    width: 602px;
    height: 7px;
    top: 306px;
    background-color: #F2F4F6;
}
.content-empty-2{
    position: absolute;
    width: 602px;
    height: 7px;
    top: 396px;
    background-color: #F2F4F6;
}
.content-empty-3{
    position: absolute;
    width: 602px;
    height: 7px;
    top: 521px;
    background-color: #F2F4F6;
}

.main-content-div2{
    position: absolute;
    height: 83px;
    width: 602px;
    top: 313px;
}
.content-img1{
    position: absolute;
    top: 27px;
    left: 38px;
}
.content-drugstore{
    position: absolute;
    top: 18px;
    left: 84px;
}
.content-location{
    position: absolute;
    top: 44px;
    left: 84px;
}
.content-i{
    position: absolute;
    top: 30px;
    left: 357px;
}

.main-content-div3{
    position: absolute;
    width: 602px;
    height: 125px;
    top: 403px;
}
.content-table-2{
    position: absolute;
    top: 21px;
    left: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #707070;
}

.main-content-div4{
    position: absolute;
    width: 602px;
    height: 277px;
    top: 528px;
}
.main-content-div4 p{
    position: absolute;
    left: 39px;
    top: 20px;
}
.main-content-div4 img{
    position: absolute;
    left: 39px;
    top: 50px;
}