.main-content{
    position: absolute;
    width: 604px;
    height: 824px;
    left: 816px;
    top: 232px;
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 4px 4px 0px 0px;
}

.main-content-div1{
    position: relative;
    width: 604px;
    height: 306px;
}

.content-title{
    position: relative;
    top: 23px;
    left: 31px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #202020;
}

.content-date{
    position: absolute;
    width: 602px;
    height: 38px;
    top: 72px;
    background: #F2F4F6;
}
.content-date p{
    position: absolute;
    top: 9px;
    left: 39px;
}

.content-pill{
    position: absolute;
    top: 132px;
    left: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
}

.content-table-1{
    position: absolute;
    top: 172px;
    left: 41px;
    table-layout: auto;
    width: 90%;
    border-collapse: separate;
    border-spacing: 0px 14px;
}
.tr-1 td{
    padding-bottom: 14px;
    border-bottom: 1px solid #F3F3F3;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #949494;
}
.tr-2 td:nth-child(2){
    text-align: center;
}
.tr-2 td:nth-child(3){
    text-align: center;
}
.tr-3 td:nth-child(2){
    text-align: center;
}
.tr-3 td:nth-child(3){
    text-align: center;
}

.content-empty-1{
    position: absolute;
    width: 602px;
    height: 7px;
    top: 306px;
    background-color: #F2F4F6;
}
.content-empty-2{
    position: absolute;
    width: 602px;
    height: 7px;
    top: 396px;
    background-color: #F2F4F6;
}
.content-empty-3{
    position: absolute;
    width: 602px;
    height: 7px;
    top: 521px;
    background-color: #F2F4F6;
}

.main-content-div2{
    position: absolute;
    height: 83px;
    width: 602px;
    top: 313px;
}
.content-img1{
    position: absolute;
    top: 27px;
    left: 38px;
}
.content-drugstore{
    position: absolute;
    top: 18px;
    left: 84px;
}
.content-location{
    position: absolute;
    top: 44px;
    left: 84px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #8A8A8A;
    
}
.content-i{
    position: absolute;
    top: 30px;
    left: 357px;
}

.main-content-div3{
    position: absolute;
    width: 602px;
    height: 125px;
    top: 403px;
}
.content-table-2{
    position: absolute;
    top: 21px;
    left: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #707070;
}
.content-table-2 tr td:nth-child(1){
    padding-bottom: 10px;
}

.main-content-div4{
    position: absolute;
    width: 602px;
    height: 277px;
    top: 528px;
}
.main-content-div4 p{
    position: absolute;
    left: 39px;
    top: 20px;
}
.main-content-div4 img{
    position: absolute;
    left: 39px;
    top: 50px;
}