/*--------------------------------------------------------------------*/
/* ASIDE CONTAINER */
/*--------------------------------------------------------------------*/
.aside-menu{
    margin-top: 32px;
    margin-left: 120px;
    width: 288px;
    height: 1206px;
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 4px;
}
.ae{
    margin-left: 20px;
}
.aside-menu-1{
    margin-top: 18px;
}
.aside-menu-1 li span{
    font-weight: bold;
    font-size: 90%;
    line-height: 27px;
    color: #202020;
}
.aside-menu-1 li a{
    margin-left: 142px;
    font-size: 70%;
    line-height: 21px;
    color: #6D6D6D;
}
.aside-menu-2 >li>input{
    margin-top: 10px;
    width: 248px;
    height: 46px;
    background: #17CEB5;
    border-radius: 4px;
    border:0px;
    color: white;
    font-weight: 500;
    font-size: 70%;
}
.aside-menu-3{
    margin-top: 22px;
    font-size: 75%;
    line-height: 22px;
    color: #202020;
}
.aside-menu-3 li input{
    margin-top: 8px;
}

input[type='radio'],
input[type='radio']:checked{
    appearance: none;
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 100%;
    margin-right: 0.1rem;
    background-color: #5BC7B3;
}
input[type='radio']{
    background-color: white;
    border: 1.5px solid #5BC7B3;
}
.aside-menu-4 li{
    margin-top: 25px;
    font-weight: bold;
    font-size: 75%;
    line-height: 22px;
    color: #202020;
}
.aside-menu-5{
    margin-top: 10px;
    line-height: 22px;
    font-size: 75%;
    color: #202020;
}
.aside-menu-5 li{
    margin-top: 10px;
}
.aside-menu-5 span{
    margin-left: 8px;
}
.aside-menu-6 >li>input{
    margin-top: 15px;
    width: 247px;
    height: 46px;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 4px;
    color: #202020;
    background-color: white;
    font-weight: 500;
    font-size: 70%;
    line-height: 21px;
    text-align: center;
    color: #333333;
}
.aside-menu-7 li{
    margin-top: 25px;
    font-weight: bold;
    font-size: 75%;
    line-height: 22px;
    color: #202020;
}
.aside-menu-8{
    margin-top: 10px;
    line-height: 22px;
    font-size: 75%;
    color: #202020;
}
.aside-menu-8 li{
    margin-top: 10px;
}
.aside-menu-8 span{
    margin-left: 8px;
}
.aside-menu-9 >li>input{
    margin-top: 15px;
    width: 247px;
    height: 46px;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 4px;
    color: #202020;
    background-color: white;
    font-weight: 500;
    font-size: 70%;
    line-height: 21px;
    text-align: center;
    color: #333333;
}
.aside-menu-10 li{
    margin-top: 25px;
    font-weight: bold;
    font-size: 75%;
    line-height: 22px;
    color: #202020;
}
.aside-menu-11{
    margin-top: 10px;
    line-height: 22px;
    font-size: 75%;
    color: #202020;
}
.aside-menu-11 li{
    margin-top: 10px;
}
.aside-menu-11 span{
    margin-left: 8px;
}
.aside-menu-12 li{
    margin-top: 25px;
    font-weight: bold;
    font-size: 75%;
    line-height: 22px;
    color: #202020;
}
.aside-menu-13{
    margin-top: 10px;
    line-height: 22px;
    font-size: 75%;
    color: #202020;
}
.aside-menu-13 li{
    margin-top: 10px;
}
.aside-menu-13 span{
    margin-left: 8px;
}
.aside-menu-14 >li>input{
    margin-top: 15px;
    width: 247px;
    height: 46px;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 4px;
    color: #202020;
    background-color: white;
    font-weight: 500;
    font-size: 70%;
    line-height: 21px;
    text-align: center;
    color: #333333;
}