/*--------------------------------------------------------------------*/
/* BASIC SETUP */
/*--------------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/*--------------------------------------------------------------------*/
/* REUSABLE CONTENT */
/*--------------------------------------------------------------------*/
.row{
    max-width: 1260px;
    margin: 0 auto;
}
li{
    list-style: none;
}
/*--------------------------------------------------------------------*/
/* INPUT CHECKBOX */
/*--------------------------------------------------------------------*/
input[type="checkbox"]+label{
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url('../img/login_image/Vector-off.png') no-repeat 0 0px / contain;
}
input[type='checkbox']:checked+label{
    background: url('../img/login_image/Vector.png') no-repeat 0 1px / contain;
}
input[type="checkbox"]{
    display: none;
}
/*--------------------------------------------------------------------*/
/* MAIN */
/*--------------------------------------------------------------------*/
.aside-container{
    margin-top: 32px;
    margin-left: 120px;
    width: 288px;
    height: 360px;
    background: #FFFFFF;
    box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.02), 0px 2px 12px 6px rgba(0, 0, 0, 0.03);
    border-radius: 6px;
}
.aside-div-1 ul li:nth-child(1){
    position: relative;
    width: 108px;
    height: 108px;
    left: 90px;
    top: 47px;
}
.aside-div-1 ul li:nth-child(2){
    position: relative;
    left: 69px;
    top: 50px;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    color: #464646;
}
.aside-div-1 ul li:nth-child(3){
    position: relative;
    left: 75px;
    top: 55px;
    font-size: 14px;
    line-height: 21px;
    color: #8B8B8B;
}
.hr-1{
    position: relative;
    width: 218px;
    height: 0px;
    left: 35px;
    top: 72px;
    border: 1px solid #E3E3E3;
}
.aside-div-2 ul li{
    float: left;
}
.aside-div-2 ul li:nth-child(1){
    font-size: 80%;
    line-height: 24px;
    color: #8B8B8B;
    position: relative;
    left: 59px;
    top: 100px;
}
.aside-div-2 ul li:nth-child(2){
    font-weight: bold;
    font-size: 80%;
    line-height: 24px;
    color: #333333;
    position: relative;
    left: 65px;
    top: 100px;
}
.aside-div-2 ul li:nth-child(3){
    font-size: 80%;
    line-height: 24px;
    color: #8B8B8B;
    position: relative;
    left: 72px;
    top: 100px;
}
.aside-div-2 ul li:nth-child(4){
    font-size: 80%;
    line-height: 24px;
    color: #8B8B8B;
    position: relative;
    left: 80px;
    top: 100px;
}
.aside-div-2 ul li:nth-child(5){
    font-weight: bold;
    font-size: 80%;
    line-height: 24px;
    color: #333333;
    position: relative;
    left: 88px;
    top: 100px;
}
.main-container{
    margin-top: -360px;
    margin-left: 440px;
    width: 603px;
    height: 1455px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px 0px 0px 4px;
}
.main-title{
    position: relative;
    top: 23px;
    left: 30px;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
}
.main-info{
    font-weight: bold;
    font-size: 75%;
    line-height: 16px;
}
.main-info ul li:nth-child(1){
    position: relative;
    top: 50px;
    left: 130px;
}
.main-info ul li:nth-child(2){
    position: relative;
    top: 35px;
    left: 417px;
}
.main-hr{
    position: relative;
    top: 55px;
    width: 603px;
    border: 1px solid #E3E3E3;
    background: #E3E3E3;
}
.main-hr-2{
    position: relative;
    top: 50px;
    width: 301px;
    height: 2px;
    border: 1px solid #0FDCC1;
    background: #0FDCC1;
}

.main-content-1{
    position: relative;
    height: 663px;
    width: 603px;
    top: 56px;
    left: 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px 0px 0px 4px;
}
.main-content-2{
    position: relative;
    height: 660px;
    width: 603px;
    top: 55px;
    left: 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px 0px 0px 4px;
}
.img-1{
    position:relative;
    width: 40px;
    height: 40px;
    left: 42px;
    top: 25px;
}
.content-id{
    position: relative;
    left: 96px;
    font-weight: bold;
    font-size: 75%;
    line-height: 22px;
    color: #2F2F2F;
    top: -20px;
}
.content-date{
    position:relative;
    left: 96px;
    top: -18px;
    font-size: 65%;
    line-height: 19px;
    color: #8B8B8B;
}
.content-content{
    position: relative;
    top: 5px;
    left: 42px;
    width: 483px;
    height: 135px;
    font-size: 75%;
    line-height: 22px;
}
.img-2{
    position: relative;
    top: 13px;
}
.content-hr{
    position: relative;
    top: 30px;
    left: 41px;
    width: 520px;
    height: 0;
    border: 1px solid #E3E3E3;
}
.img-3{
    position: relative;
    width: 24px;
    height: 24px;
    top: 45px;
    left: 45px;
}
.content-like{
    position: relative;
    top: 19px;
    left: 75px;
    font-size: 70%;
    line-height: 21px;
}
.img-4{
    position: relative;
    top: -2px;
    left: 171px;
}
.content-comment{
    position: relative;
    top: -28px;
    left: 203px;
    font-size: 70%;
    line-height: 21px;
}
.img-5{
    position: relative;
    top: -51px;
    left: 534px;
}