body{
    background-image: url('../image/BG.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#main-menu{
    list-style: none;
    color: white;
    padding-left: 0px;
}

#main-join{
    list-style: none;
    color: white;
    padding-left: 0px;
    float: left;
    margin-right: 20px;
}

#main-menu>li{
    float: left;
    margin-left: 20px;
}

#main-join>li{
    float: left;
    margin-left: 20px;
}