/*--------------------------------------------------------------------*/
/* BASIC SETUP */
/*--------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: white;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}
/*--------------------------------------------------------------------*/
/* REUSABLE CONTENT */
/*--------------------------------------------------------------------*/
.row {
  max-width: 335px;
  margin: 0 auto;
}
/*--------------------------------------------------------------------*/
/* INPUT CHECKBOX */
/*--------------------------------------------------------------------*/
.main-agree-all input[type="checkbox"] + label {
  display: inline-block;

  width: 32px;
  height: 32px;
  background: url("image/Vector-off.png") no-repeat 0 0px / contain;
}
.agree input[type="checkbox"] + label {
  display: inline-block;

  width: 18px;
  height: 18px;
  background: url("image/Vector-off.png") no-repeat 0 0px / contain;
}
.main-alram input[type="checkbox"] + label {
  display: inline-block;

  width: 18px;
  height: 18px;
  background: url("image/Vector-off.png") no-repeat 0 0px / contain;
}
input[type="checkbox"]:checked + label {
  background: url("image/Vector.png") no-repeat 0 1px / contain;
}
input[type="checkbox"] {
  display: none;
}
/*--------------------------------------------------------------------*/
/* MAIN CONTAINER */
/*--------------------------------------------------------------------*/
.main-container-all {
  margin-top: 160px;
}
.main-intro {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #333333;
  margin-top: 32px;
}
.main-logo {
  display: flex;
  justify-content: center;
}
.main-agree-all {
  display: flex;
  margin-top: 26px;
  justify-content: center;
  align-items: center;
  border: 2px solid #0fdcc1;
  box-sizing: border-box;
  border-radius: 4px;
  width: 335px;
  height: 50px;
}
.main-agree-all p {
  margin-left: 8px;
}
.agree {
  display: flex;
  height: 48px;
  align-items: center;
  border-bottom: 1px solid black;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}
.agree p {
  margin-left: 3px;
}
.agree img {
  margin-left: auto;
}
.main-alram {
  display: flex;
  margin-top: 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
.main-alram-app {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.main-alram-app p {
  padding-left: 4px;
  padding-right: 8px;
}
.main-alram-SMS {
  display: flex;
  align-items: center;
}
.main-alram-SMS p {
  padding-left: 4px;
  padding-right: 6px;
}
.main-alram-email {
  display: flex;
  align-items: center;
}
.main-alram-email p {
  padding-left: 4px;
}
.main-button {
  display: flex;
  margin-top: 33px;
}
.main-cancel input {
  width: 160px;
  height: 48px;
  background: #b9b9b9;
  border-radius: 4px;
  border: 1px solid #eaeaea;
  font-weight: 500;
  font-size: 90%;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
}
.main-accept input {
  width: 160px;
  height: 48px;
  background: #0fdcc1;
  border-radius: 4px;
  border: 1px solid #eaeaea;
  font-weight: 500;
  font-size: 90%;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
  margin-left: 17px;
}
