/*--------------------------------------------------------------------*/
/* BASIC SETUP */
/*--------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: white;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

/*--------------------------------------------------------------------*/
/* REUSABLE CONTENT */
/*--------------------------------------------------------------------*/
.row {
  max-width: 335px;
  margin: 0 auto;
}
/*--------------------------------------------------------------------*/
/* INPUT CHECKBOX */
/*--------------------------------------------------------------------*/
input[type="checkbox"] + label {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("image/Vector-off.png") no-repeat 0 0px / contain;
}
input[type="checkbox"]:checked + label {
  background: url("image/Vector.png") no-repeat 0 1px / contain;
}
input[type="checkbox"] {
  display: none;
}
/*--------------------------------------------------------------------*/
/* MAIN CONTAINER */
/*--------------------------------------------------------------------*/
.main-container {
  width: 338px;
  height: 512px;
  margin-top: 160px;
}
.main-container-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
}
.main-container-id input,
.main-container-pwd input {
  background: #f3f3f3;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  width: 335px;
  height: 48px;
  margin-bottom: 16px;
}
.main-container-id input::placeholder,
.main-container-pwd input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #9f9f9f;
  padding-left: 8px;
}
.main-container-auto {
  display: flex;
  align-items: center;
}
.main-container-auto p {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin-left: 4px;
}
.main-container-loginBtn input {
  background: #0fdcc1;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  width: 335px;
  height: 48px;
  color: white;
  margin-top: 17px;
}
.main-container-or {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #9f9f9f;
  margin-top: 34px;
}
.main-container-img {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 28px;
}
.main-container-img a {
  cursor: pointer;
}
.main-container-find {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  gap: 12px;
  margin-top: 48px;
}
.main-container-find a {
  cursor: pointer;
}
.main-container-find p:nth-child(2),
.main-container-find p:nth-child(4) {
  color: #e3e3e3;
}
